/* check out https://identity.unc.edu/colors/ for details about accessible colors already at UNC*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header{
    height: 150px;
    /* should it have a different font? */
    text-align: center;
}

#grad1 {
    background-color: #4B9CD3; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(bottom right, white, #4B9CD3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, white, #4B9CD3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white, #4B9CD3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white, #4B9CD3); /* Standard syntax (must be last) */
}

#title {
    font-size: 72px;
    margin-top: 45px;
    margin-left: 10px;
    float: left;
    text-shadow: white 1px 0 10px;
    position: relative;
    left: 130px;
}

#subtitle{
    opacity: 0.5;
    font-size: 2.5vw;
    line-height: 1.5;
    padding-top: 50px;
    vertical-align: middle;
    position: relative;
    /*width: 40%;*/
    right: -19%;
    /*top: -15px;*/
    float: left;
}

#home{
    height: 140px;
    width: 130px;
    top: 10px;
    left: 0px;
    position: absolute;
    display: inline-block;
}

a > img {
    height: 90px;
    margin-top: 23px;
    float: left;
    margin-left: 10px;
}

nav {
    background-color: #13294B;
}

.synopsis{
    height: 200px;
    background-size: 100% auto;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-top: -20px;
}

.synopsis > p{
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #13294B;
}

.container > p {
    font-size: medium;
}

#info{
    font-size: large;
}

.navbar-btn {
    margin-left: 1%;
    margin-right: 1%;
    min-width: 75px;
    width: 12%;
    background: #E1E1E1; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(white, #E1E1E1); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white, #E1E1E1); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(white, #E1E1E1); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, #E1E1E1); /* Standard syntax (must be last) */
    font-size: large;
}

.navbuttons {
    text-align: center;
}

a:hover{
    color:#767676;
    text-decoration: none;
}

a:active{
    color: #13294B;
}

#info{
    margin-top: 10px;
    font-size: large;
}

h3{
    color: #4B9CD3;
}

footer{
    text-align: center;
    font-size: medium;
    padding: 10px;
    background-color: #13294B;
    color: white;
    text-shadow: 1px 1px 1px black;
}

footer > a, .socials > a, .apply > a {
    color:#c4d4ef;
}