.synopsis {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Franklin_Street_Chapel_Hill_NC.jpg/1280px-Franklin_Street_Chapel_Hill_NC.jpg");
    background-size: cover;
    background-position: 10% 65%;
}

.synopsis > p{
    /* 70px if one line, 42px if two lines */
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #13294B;
}

.squad{
    border: 10px solid #4B9CD3;
    display: block;
    margin: auto;
    width: 50%;
}

#well{
    height: 500px;
    width: 350px;
}